.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 48px;
  gap: 12px;

  width: 100%;
  max-width: 380px;
  padding: 24px 12px;
  background-color: #e6e6e6;
  border-radius: 12px;
}
